body {
    margin:30px;
    background-image: linear-gradient(rgba(2,0,36,100), rgba(60,27,154,100), rgba(255,255,255,0));
    background-repeat: no-repeat;
    height:700px;
}

.navbar {
    background: rgba(0, 0, 0, 0.781);
    color:white;
    font: 18px Arial, sans-serif;
    height: 144px;
    
    
}

#logo {
    height:143px;
    width:170px;
    
}

.my-container{
    border:3px;
    border-style: solid;
    border-color: blue;
}

.my-row{
    border: 3px;
    border-style: solid;
    border-color: green;
    height: 500px;
}

.my-col{
    border: 3px;
    border-style: solid;
    border-color: orange;
}

#postone{
    height:300px;
    width:500px;
}

#recent{
    background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
height: 50%;
border-style: solid;
border-color: black;
text-align: center;
border-radius: 25px;
margin-right: 25px;

}

#boxxy{
    background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
    height: 50%;
    border-style: solid;
    border-color: black;
    text-align: left;
    border-radius: 25px;
    
}
