body {
    background-image: linear-gradient(rgba(2,0,36,100), rgba(60,27,154,100), rgba(255,255,255,0));
    background-repeat: no-repeat;
    height:700px;
}

.navbar {
    background: rgba(0, 0, 0, 0.781);
    color:white;
    font: 18px Arial, sans-serif;
    height: 144px;
    
    
}

#logo {
    height:143px;
    width:170px;
    
}

#title {
    font-size: 29pt;
}

#postone{
    height:300px;
    width:500px;
}

#recent{

    
    width:10%;

}
