@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=IM+Fell+English+SC&family=Spectral+SC:ital,wght@1,200&display=swap');
body {
    
    background-image: linear-gradient(rgba(2,0,36,100), rgba(60,27,154,100), rgba(255,255,255,0));
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.navbar_container {
    background: rgba(0, 0, 0, 0.781);
    color:white;
    font: 18px Arial, sans-serif;
    font-family: 'IM Fell English SC', serif;
}

.navbar_container li{
    list-style: none;
}

#logo {
    height:143px;
    width:170px;
    
}

.my-container{
    border:3px;
    border-style: solid;
    border-color:white;
    
    
}

.my-row{
    border: 3px;
    border-style: solid;
    border-color: red;
}

.my-col{
    border: 3px;
    border-style: solid;
    border-color: orange;
}

.title{
    font-family: 'IM Fell English SC', serif;
}

#postone{
    color: white;
    height:300px;
    width:600px;
    border: black;
    border-style: solid;
    box-shadow: 2px 2px purple;
    text-overflow: clip;
    font-family: 'IM Fell English SC', serif;
}

#homeposttwo{
    color: white;
    height:300px;
    width:400px;
    border: black;
    border-style: solid;
    box-shadow: 2px 2px purple;
    font-family: 'IM Fell English SC', serif;
}

#postpostone{
    color: white;
    height:200px;
    width:400px;
    border: black;
    border-style: solid;
    box-shadow: 2px 2px purple;
    margin-left:300px ;
    font-family: 'IM Fell English SC', serif;
    
}

#categories{
    color: white;
    height:300px;
    width:500px;
    border: black;
    border-style: solid;
    box-shadow: 2px 2px purple;
}


#recent{
background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
height: 80%;
width:75%;
border-style: solid;
border-color: black;
margin: 60px;
padding:10px;
text-align: center;
border-radius: 10%;
box-shadow: 2px 2px purple;
    


}

#recenttwo{
    background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
height: 50%;
width:20%;
color: white;
border-style: solid;
border-color: black;
margin-left: 150px;
margin-top: 80px;
padding:20px;
text-align: center;
border-radius: 10%;
box-shadow: 2px 2px purple;
    
}

#postrecenttwo{
background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
color: white;
border-style: solid;
border-color: black;
width: 40%;
height: 60%;
text-align: center;
border-radius: 10%;
box-shadow: 2px 2px purple;
    
}

@media (max-width:1000px){
    #postrecenttwo{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:1000px){
    #postrecent{
        width: 100%;
        height: 100%;
    }
}

#postrecent{
    background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
height: 50%;
width:20%;
color: white;
border-style: solid;
border-color: black;
margin-left: 200px;
margin-top: 80px;
padding:20px;
text-align: center;
border-radius: 10%;
box-shadow: 2px 2px purple;
    
}

.maintext{
    font-family: 'Baskervville', serif;
}

#figure{
    width:300px;
    float:inline-end;
}


#boxxy{
    background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
    height: 50%;
    border-style: solid;
    border-color: black;
    text-align: left;
    border-radius: 25px;
    
    
}


#pageimage{
 height: 300px;
width: 300px;
border-style: solid;
border-color: black;
margin-left: 150px;
margin-top: 80px;

text-align: center;

}

#fgc{
    height: 300px;
   width: 300px;
   border-style: solid;
   border-color: black;
   float: right;
   margin-right: 50px;
   text-align: center;
   
   }

   #contact{
       background-color: blueviolet;
       width:50%;
       margin-left: 90px;
   }

   #cards{
       
       height:500px;
       width:94%;
       margin: 40px;
       border-style: solid;
   }

   .card{
       background-image: linear-gradient(rgba(2,0,36,100), rgba(176, 146, 233, 1), rgba(255,255,255,20));
   }
   

#footbox{
    background-image: linear-gradient(rgba(176, 146, 250, 100), rgba(2,0,36,200) );
height: 100px;

border-style: solid;
border-bottom: black;
}

.footer {
    position:fixed;
    width: auto;
    color: white;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    
  }

 
  
  #foottext{
    font-family: 'IM Fell English SC', serif;
  } 
